a:hover {
  color: #000;
}

button:focus {
  outline: none !important;
}

body {
  background-size: 100%;
  font-family: "Lato", sans-serif;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
}

html {
  scroll-behavior: smooth;
}

button:focus,
input:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: none !important;
}

a:hover {
  text-decoration: none;
}

.color_green_light {
  color: #60B246;
}

.color_red {
  color: #CC0000;
}

.color_dark {
  color: #000;
}

.bg_light_green {
  background: #EFF7EC;
}

p {
  font-size: 20px;
  color: #114743;
  font-weight: 500;
}

.side_space {
  margin: 0 100px;
}

@media screen and (max-width: 991px) {
  .side_space {
    margin: 0 40px;
  }
}

@media screen and (max-width: 575px) {
  .side_space {
    margin: 0;
  }
}

.custom_btn {
  background: none;
  font-size: 16px;
  font-weight: 600;
  color: #2BA562;
  border: 2px solid #2BA562;
  padding: 7px 20px;
  border-radius: 100px;
}

.custom_btn:hover {
  color: #2BA562;
}

.flex_left_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.h_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

h1 {
  font-size: 52px;
  line-height: 52px;
  margin-bottom: 0;
  font-family: "Josefin Sans", sans-serif;
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 40px;
    line-height: 40px;
  }
}

h2 {
  font-size: 48px;
  line-height: 55px;
  font-weight: 800;
  padding: 0;
  margin-bottom: 20px;
  font-family: "Lato", sans-serif;
}

@media screen and (max-width: 991px) {
  h2 {
    font-size: 35px;
    line-height: 45px;
  }
}

h2.small {
  font-size: 24px;
  line-height: 35px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #60B246;
}

@media screen and (max-width: 991px) {
  h2.small {
    font-size: 22px;
    line-height: 35px;
  }
}

h2.light_green {
  color: #60B246;
}

h2.dark_green {
  color: #114743;
}

h3 {
  font-size: 30px;
  color: #114743;
  line-height: 35px;
  font-weight: 800;
  font-family: "Lato", sans-serif;
  margin: 30px 0;
}

h4 {
  font-size: 18px;
  line-height: 25px;
  font-weight: 600;
  font-family: "Lato", sans-serif;
  margin-bottom: 25px;
}

.mw_1100 {
  max-width: 1100px !important;
  margin: 0 auto;
}

.mw_1200 {
  max-width: 1200px !important;
  margin: 0 auto;
}

.btn_border_white {
  font-size: 18px;
  border: 2px solid #fff;
  padding: 12px 15px;
  color: #fff;
  background: none;
  font-family: "Josefin Sans", sans-serif;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  top: 0;
  background: #12364CA1;
  padding: 16px 0;
}

header .logo img {
  width: 180px;
}

header .navbar {
  padding: 5px 0;
}

header .navbar.navbar-dark .navbar-toggler {
  border-color: #ffffff80;
}

header .navbar .navbar-collapse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: #fff;
  font-size: 18px;
  padding: 0;
  margin-left: 80px;
}

@media screen and (max-width: 991px) {
  header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    margin: 10px 20px 10px 0;
  }
}

.banner .banner_visual {
  background-repeat: no-repeat;
  background-position: center top;
  width: 100%;
}

@media screen and (max-width: 991px) {
  .banner .banner_visual {
    background-size: cover;
  }
}

.banner.home .banner_visual {
  min-height: 100vh;
  text-align: center;
}

.banner.home .banner_visual a:hover {
  color: #fff;
}

.banner.home .banner_visual h1 {
  padding: 200px 0 50px;
}

@media screen and (max-width: 991px) {
  .banner.home .banner_visual h1 {
    padding: 120px 0 30px;
  }
}

.banner.inner .banner_visual {
  height: 299px;
  margin-bottom: 120px;
}

@media screen and (max-width: 991px) {
  .banner.inner .banner_visual {
    margin-bottom: 60px;
  }
}

.banner h1 {
  font-size: 65px;
  line-height: 75px;
  color: #fff;
  padding-top: 155px;
  padding-left: 200px;
}

@media screen and (max-width: 1200px) {
  .banner h1 {
    font-size: 50px;
    line-height: 55px;
  }
}

@media screen and (max-width: 991px) {
  .banner h1 {
    font-size: 40px;
    line-height: 45px;
    padding-left: 0;
    text-align: center;
  }
}

.about_us {
  margin: 120px 0 150px;
}

@media screen and (max-width: 991px) {
  .about_us {
    margin: 50px 0 75px;
  }
}

.about_us .title {
  font-size: 75px;
  line-height: 90px;
  font-weight: 700;
  color: #60B246;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 991px) {
  .about_us .title {
    font-size: 50px;
    line-height: 40px;
  }
}

@media screen and (max-width: 575px) {
  .about_us .title {
    font-size: 30px;
    line-height: 35px;
  }
}

.about_us h2 {
  font-size: 40px;
}

@media screen and (max-width: 991px) {
  .about_us h2 {
    font-size: 35px;
  }
}

.about_us a {
  font-size: 22px;
  color: #60B246;
  margin-top: 30px;
}

.key_points {
  background: url("../images/bg-key-points.png") no-repeat center top;
  padding-bottom: 20px;
  background-size: cover;
}

.key_points h2 {
  color: #fff;
  padding-top: 70px;
  padding-bottom: 60px;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .key_points h2 {
    padding-top: 40px;
    padding-bottom: 30px;
  }
}

.key_points .points {
  color: #fff;
  font-size: 24px;
  line-height: 35px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 991px) {
  .key_points .points {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 30px;
  }
}

.key_points .points span {
  color: #FDBA3F;
  font-size: 50px;
  margin-right: 30px;
}

@media screen and (max-width: 991px) {
  .key_points .points span {
    font-size: 30px;
  }
}

.custom_list {
  padding-left: 0;
  list-style: none;
}

.custom_list li {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
  margin-bottom: 30px;
  color: #114743;
  background: url("../images/icon-check-green.png") no-repeat left center;
  padding: 4px 0 4px 50px;
}

@media screen and (max-width: 991px) {
  .custom_list li {
    font-size: 18px;
  }
}

.project_highlights {
  padding: 100px 0;
}

@media screen and (max-width: 991px) {
  .project_highlights {
    padding: 50px 0;
  }
}

.project_highlights .sub_content {
  max-width: 900px;
  margin: 0 auto 80px;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .project_highlights .sub_content {
    margin: 0 auto 40px;
  }
}

.project_highlights .mx_width {
  max-width: 1000px;
  margin: 0 auto;
}

.project_highlights h2 {
  margin-bottom: 40px;
}

@media screen and (max-width: 991px) {
  .project_highlights h2 {
    margin-bottom: 20px;
  }
}

.project_highlights h3 {
  font-size: 30px;
  color: #60B246;
  font-weight: 600;
}

.project_highlights p {
  font-weight: 500;
}

.project_highlights .project_bx {
  max-width: 380px;
  margin: 0 auto;
}

.project_highlights .project_bx h3 {
  font-size: 20px;
  color: #114743;
  font-weight: 700;
  margin: 0;
}

.project_highlights .project_bx .visual {
  margin-bottom: 30px;
  height: 250px;
}

.project_highlights .project_bx .visual img {
  width: 100%;
  height: 250px;
}

.project_highlights .project_bx p {
  font-size: 20px;
  color: #114743;
  font-weight: 500;
  margin: 15px 0;
}

.project_highlights .project_bx span {
  font-size: 18px;
  color: #60B246;
  font-weight: 500;
}

.end_users {
  padding: 60px 0;
}

.end_users h2 {
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 40px;
  text-align: center;
}

.end_users .end_users_bx {
  text-align: center;
}

@media screen and (max-width: 991px) {
  .end_users .end_users_bx {
    margin-bottom: 40px;
  }
  .end_users .end_users_bx:last-child {
    margin-bottom: 0;
  }
}

.end_users .end_users_bx .icon {
  margin-bottom: 20px;
}

.end_users .end_users_bx p {
  margin: 0 30px;
  font-weight: 700;
}

.end_users .end_users_content {
  font-size: 20px;
  font-weight: 500;
  color: #114743;
  text-align: center;
  margin: 50px 100px 0;
}

@media screen and (max-width: 991px) {
  .end_users .end_users_content {
    margin: 50px 0 0;
  }
}

.flowchart {
  margin: 100px 0 150px;
}

@media screen and (max-width: 991px) {
  .flowchart {
    margin: 50px 0 100px;
  }
}

.flowchart h2 {
  margin-bottom: 80px;
}

@media screen and (max-width: 991px) {
  .flowchart h2 {
    margin-bottom: 40px;
  }
}

.our_team {
  margin: 100px 0;
}

@media screen and (max-width: 991px) {
  .our_team {
    margin: 70px 0;
  }
}

.our_team .team_bx .visual {
  margin: 0 auto;
  text-align: center;
  width: 220px;
  height: 220px;
  border: 5px solid #60B246;
  border-radius: 100%;
}

.our_team .team_bx .visual img {
  border-radius: 100%;
}

@media screen and (max-width: 991px) {
  .our_team .team_bx {
    margin-bottom: 40px;
  }
  .our_team .team_bx:last-child {
    margin-bottom: 0;
  }
}

.our_team h2 {
  margin-bottom: 100px;
}

@media screen and (max-width: 991px) {
  .our_team h2 {
    margin-bottom: 50px;
  }
}

.our_team h3 {
  font-size: 22px;
  line-height: 30px;
  font-weight: 700;
  padding: 0 10px 8px;
  margin-bottom: 0;
  color: #114743;
}

@media screen and (max-width: 991px) {
  .our_team h3 {
    font-size: 22px;
    line-height: 30px;
  }
}

.our_team p {
  font-size: 18px;
  color: #114743;
  line-height: 25px;
  font-weight: 500;
  margin-bottom: 0;
  font-style: italic;
}

.latest_news {
  background: #F5F5F5;
  padding: 90px 0;
}

@media screen and (max-width: 991px) {
  .latest_news {
    padding: 50px 0;
  }
}

.latest_news h2 {
  text-align: center;
  margin-bottom: 120px;
}

@media screen and (max-width: 991px) {
  .latest_news h2 {
    margin-bottom: 60px;
  }
}

.latest_news .latest_news_bx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 991px) {
  .latest_news .latest_news_bx {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.latest_news .latest_news_bx .visual {
  width: 50%;
}

@media screen and (max-width: 991px) {
  .latest_news .latest_news_bx .visual {
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
  }
}

.latest_news .latest_news_bx .visual img {
  height: 300px;
}

.latest_news .latest_news_bx .latest_news_bx_content {
  width: 50%;
}

@media screen and (max-width: 991px) {
  .latest_news .latest_news_bx .latest_news_bx_content {
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
  }
}

.latest_news .latest_news_bx .latest_news_bx_content h3 {
  font-size: 26px;
  line-height: 26px;
  color: #114743;
  font-weight: 700;
  margin: 5px 0 15px;
}

.latest_news .latest_news_bx .latest_news_bx_content .latest_news_bx_sub_content {
  height: 220px;
  overflow-y: auto;
}

.latest_news .latest_news_bx .latest_news_bx_content .latest_news_bx_sub_content p {
  margin: 0 0 20px;
}

@media screen and (max-width: 991px) {
  .latest_news .latest_news_bx .latest_news_bx_content .latest_news_bx_sub_content p {
    height: unset;
  }
}

.latest_news .latest_news_bx .latest_news_bx_content a {
  font-size: 18px;
  color: #60B246;
  font-style: italic;
  margin-top: 10px;
  display: inline-block;
}

.latest_news_page_content .visual img {
  height: 300px;
}

.contact_us {
  margin: 80px auto;
}

@media screen and (max-width: 991px) {
  .contact_us {
    margin: 50px auto;
  }
}

.contact_us .contact_us_content {
  max-width: 600px;
  margin: 0 auto;
}

.contact_us .contact_us_content h2 {
  color: #114743;
  text-align: #114743;
  text-align: center;
  margin-bottom: 50px;
}

.contact_us .contact_us_content .form-group {
  margin-bottom: 30px;
}

.contact_us .contact_us_content .form-group .form-control {
  height: 65px;
  font-size: 22px;
  color: #000;
  font-weight: 500;
  padding: 25px;
}

.contact_us .contact_us_content .form-group textarea {
  height: 180px !important;
  padding: 20px 25px !important;
}

.contact_us .contact_us_content button {
  font-size: 20px;
  color: #60B246;
  min-width: 240px;
  height: 55px;
  background: none;
  border: 2px solid #60B246;
  border-radius: 5px;
}

.contact_us .contact_us_content .custom_error {
  color: #cc0000;
  font-size: 18px;
}

.team_row {
  border-bottom: 2px solid #ddd;
  margin-bottom: 50px;
  padding-bottom: 50px;
}

@media screen and (max-width: 991px) {
  .team_row {
    margin-bottom: 60px;
    padding-bottom: 40px;
  }
}

.team_row:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}

.team_row h2 {
  font-size: 24px;
  font-weight: 700;
}

.team_row .team_detail {
  text-align: center;
}

@media screen and (max-width: 991px) {
  .team_row .team_detail {
    margin-bottom: 40px;
  }
}

.team_row .team_detail .name {
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  padding: 35px 20px 12px;
  margin-bottom: 0;
  color: #114743;
}

@media screen and (max-width: 991px) {
  .team_row .team_detail .name {
    font-size: 22px;
    line-height: 30px;
  }
}

.team_row .team_detail p {
  font-size: 22px;
  line-height: 30px;
  font-weight: 600;
  margin-bottom: 0;
  color: #114743;
  font-style: italic;
}

.read_more {
  font-size: 22px;
  color: #000;
}

.solutions h2 {
  font-size: 24px;
  font-weight: 600;
  margin-top: 50px;
}

footer {
  margin: 100px 0;
}

@media screen and (max-width: 991px) {
  footer {
    margin: 50px 0;
  }
}

footer img {
  margin-bottom: 30px;
}

.carousel-indicators {
  bottom: -100px;
}

.carousel-indicators li {
  background-color: #60B246;
  height: 7px;
  border-radius: 4px;
  margin: 0 5px;
}

.carousel-inner .carousel-item {
  height: 730px;
}

@media screen and (max-width: 991px) {
  .carousel-inner .carousel-item {
    height: auto;
  }
}

.carousel-inner .carousel-item img {
  width: 100%;
  height: auto !important;
}

.contact_detail {
  text-align: center;
  margin-top: 60px;
}

@media screen and (max-width: 991px) {
  .contact_detail {
    margin-top: 40px;
  }
}

.contact_detail a:hover {
  color: #60B246;
}

.contact_detail p b {
  font-weight: 800;
}

input:invalid {
  border: 2px solid red;
}

input:invalid:required {
  background-image: 2px solid red;
}

input:valid {
  border: 2px solid black;
}

textarea:invalid {
  border: 2px solid red;
}

textarea:invalid:required {
  background-image: 2px solid red;
}

textarea:valid {
  border: 2px solid black;
}
/*# sourceMappingURL=style.css.map */